global:
  scrape_interval: 30s
  evaluation_interval: 30s
  scrape_timeout: 10s
  external_labels:
    env: prod
    cluster: primary

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]   # If you don't run AM locally, remove this block.

rule_files:
  - /etc/prometheus/alertrules.yml

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "node"
    static_configs:
      - targets: ["node-exporter:9100"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]

  

